.index {
  display: block;
  height: 100000px;
}

body {
  //color: #fff;
  font-family: Montserrat, sans-serif;
}

.main-section {
  background: url(../images/main_bg.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;

  &_black {
    position: relative;
    z-index: 1;

    &::after {
      @include pseudo();

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(#000, .5);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 97px);

    .container {
      //position: relative;
      //height: 362px;
      height: 100%;
      display: flex;

      &__slider {
        display: flex;
        align-items: center;
        width: 100%;
        //margin-left: -110%;
        //margin-right: 10%;

        &_catalog {
          //width: 100%;
          //margin-left: 0;
          //margin-right: 0;
          //transition: margin .5s ease;

          .main {
            display: none;
          }

          .main-catalog {
            margin-left: 0;
            margin-right: 0;
            transition: margin .5s ease;
          }
        }
      }
    }

    &_catalog {

      .main {
        display: none;

        &-catalog {
          //width: 100%;
          //margin-left: 0;
          left: 0;
          transition: all .5s ease;
        }
      }
    }
  }
}

.header {
  padding-top: 47px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__tel {
    @include text-xl;

    @include screen('md', max) {
      display: none;
    }
  }

  &__logo {
  }

  &__buttons {

  }

  &__type {

    &_logo {
      width: 156px;
      height: 26px;
    }

    &_arrow {
      width: 8px;
      height: 4px;
      margin-left: 5px;
      transition: all .5s ease;
    }

    &_menu {
      fill: white;
      width: 28px;
      height: 11px;

    }

    //&_arrow_big {
    //  fill: white;
    //  width: 32px;
    //  height: 12px;
    //}
  }

  &__icon {
    fill: white;
  }
}

.buttons {

  &__catalog {
    display: inline-flex;
    align-items: center;
    margin-right: 31px;

    @include text;

    @include screen('md', max) {
      display: none;
    }

    &.is-active {

      .header__type_arrow {
        transform: rotate(-180deg);
        transition: all .5s ease;
      }
    }
  }

  &__lead {
    @include text;

    border-radius: 1px;
    border: 2px solid $color-border;
    padding: 11px 15px 11px 19px;

    @include screen('md', max) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @include screen('md', max) {
      display: block;
    }
  }
}

.main {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  flex: 1;

  &__title {
    @include heading-1;

    margin-bottom: 42px;

    @include screen('md', max) {
      @include heading-5;
    }
  }

  &__select {
    @include heading-1;

    @include screen('md', max) {
      @include heading-5;
    }

    display: inline-block;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      height: 100%;
      width: 0;
      //width: attr(data-width);
      top: 0;
      left: 0;
      position: absolute;
      background: $color-main;
      transition: width .5s ease-in;
      z-index: -1;
    }

    &:hover::after {
      width: 100%;
    }

    .button {
      @include heading-1;

      @include screen('md', max) {
        @include heading-5;
      }

      //margin-top: -14px;
      padding: 0 10px;
      opacity: 1;
      background-size: 0 100%;
      display: flex;
      align-items: center;

      &.is-active {

        .button__type_arrow_big {
          //display: none;
          transform: rotate(-180deg);
          transition: all .3s ease;
        }
      }

      &__type {

        &_arrow_big {
          fill: white;
          width: 32px;
          height: 12px;
          margin-left: 20px;
          transition: all .3s ease;

          @include screen('md', max) {
            margin-left: 7px;
          }
        }
      }
    }

    .dropdown {
      @include heading-1;

      width: 100%;
      box-sizing: border-box;
      background: $color-main;
      margin-top: 0;
      overflow: auto;
      overflow-y: hidden;
      padding: 0 12px;
      max-height: 0;
      opacity: 1;
      transition: none;

      &.is-active {
        pointer-events: all;
        max-height: 500px;
        transition: max-height 0.5s ease-in;
      }
    }
  }
}

.main-catalog {
  //display: none;
  //width: 0;
  //margin-left: -100%;
  $b: &;

  display: flex;
  justify-content: space-between;
  top: 0;
  //position: absolute;
  margin-left: -110%;
  margin-right: 10%;
  //left: -150%;
  width: 100%;
  //flex: 1;

  @include screen('md', max) {
    //position: initial;
    //padding: 0 96px;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: flex-start;
  }

  &__tel {
    display: none;
//    margin-bottom: 68px;

    @include text-xl;
    @include screen('md', max) {
      display: block;
    }
  }

  &__text {
    @include text;

    @include screen('md', max) {
      max-width: 367px;
      margin-bottom: 30px;
    }

    max-width: 196px;
    margin-top: 15px;
    flex: 1;
  }

  &__empty {
    flex: 1;
    max-width: 196px;
  }

  &__items {
    //flex: 3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include screen('md', max) {
      margin: 0;
    }
    //display: flex;
    //align-items: flex-start;
  }

  &__item {
    @include heading-1;

    //@include screen('md', max) {
    //
    //}

    display: inline-flex;
    align-items: center;
    text-align: center;
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }

  &__arrow {
    margin-left: 10px;
    transform: rotate(-90deg);
    visibility: hidden;

    #{$b}__item:hover & {
      //display: block;
      visibility: visible;
    }
  }

  &__lead {
    //margin-top: 150px;
    display: none;
    padding: 30px 75px;
    border: 1px solid $color-border;

    @include text;

    @include screen('md', max) {
      display: block;
    }
  }
}

