// Текстовые стили, используемые на сайте

@mixin heading-1 {
  font-size: 76px;
  line-height: (100/76);
  font-weight: 600;
}

@mixin heading-2 {
  font-size: 72px;
  line-height: (116/72);
  font-weight: 600;
}

@mixin heading-3 {
  font-size: 66px;
  line-height: (88/66);
  font-weight: 600;
}

@mixin heading-4 {
  font-size: 56px;
  line-height: (78/56);
  font-weight: 600;
}

@mixin heading-5 {
  font-size: 52px;
  line-height: (70/52);
  font-weight: 600;
}

@mixin heading-6 {
  font-size: 46px;
  line-height: (60/46);
  font-weight: 600;
}

@mixin text-title {
  font-size: 36px;
  line-height: (50/36);
  font-weight: 600;
}

@mixin text-subtitle {
  font-size: 30px;
  line-height: (36/30);
  font-weight: 600;
}

@mixin text-xl {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

@mixin text-l {
  font-size: 18px;
  font-weight: 600;
  line-height: (28/18);
}

@mixin text {
  font-size: 16px;
  //font-weight: 600;
  line-height: (24/16);
}

@mixin text-md {
  font-size: 16px;
  font-weight: 600;
  line-height: (24/16);
}

@mixin text-sm {
  font-size: 14px;
  font-weight: 600;
  line-height: (24/14);
}

@mixin text-small {
  font-size: 14px;
  //font-weight: 600;
  line-height: (24/14);
}

@mixin text-xs {
  font-size: 10px;
  font-weight: 600;
  line-height: (27/10);
}

.text-title {
  @include text-title;
}

.text-subtitle {
  @include text-subtitle;
}

.text-xl {
  @include text-xl;
}

.text-l {
  @include text-l;
}

.text {
  @include text;
}

.text-md {
  @include text-md;
}

.text-sm {
  @include text-sm;
}

.text-xs {
  @include text-xs;
}

