// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1075px; // Максимальная ширина контейнера контента
$container-padding: 20px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками
$grid-gap-vertical: 20px; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки
$breakpoints: (
  'xl': 1366px,
  'lg': 1366px,
  'md': 768px,
  'sm': 768px,
  'xs': 768px
);

// ##########
// Цвета
// ##########
$color-basic: black; // Основной цвет текста (применяется к body)
$color-text-gray: #292d30;
$color-placeholder: #666; // Основной цвет для placeholder
$color-input: white; // Основной цвет input, select и textarea
$color-main: #9a7058; // Основной фирменный цвет
$color-border: #666; // Основной цвет границ таблиц, секций
$color-bg-main: #9a7058;
$color-bg-second: #292d30;
$color-bg-second_transparent: rgba(41, 45, 48, 0);
$color-gradient-start: #bc8d72;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: Montserrat, sans-serif; // Основной шрифт сайта

